@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/pb-design-system/dist/css/design_system';
@import '../../bower_components/pb-design-system/sass/settings/variables';
@import '../../bower_components/pb-design-system/sass/settings/mixins';
@import 'partial';

header i.nc-icon-outline {
  font-size: 20px;
}

.category-widget {
  img {
    min-height: 100px;
  }
}

.site-content {
    margin-bottom: 0px;
}
